h1 {
    color:dimgray;
    font-size: 50px;
}
h2{
	color: blue;
	font-weight: bolder;
}
h4,h5{
	color: green;
}
p{
	font-family:"Calibri"
}
br{padding-top: 20px;

}
*{
	background-color:pink;
	border: 3px dashed gold; 
	/*notes
	border-width: ;
	border-color: ;
	border-style: ;
	*/
}
.green{
background-color: white;
text-decoration: line-through;
}

.lightblue{
margin: 20px;
font-family: "BankGothic Md BT";
line-height: 2em;
background-image:url("rainbow.jpg");
background-repeat:repeat-y;
border-left-width:20%; 
}

.red{
color: white;
font-family: "bauhaus 93";
letter-spacing: 1em;
}

.blue{
padding-left:10px;
font-size:1.5em ;
color: red;
text-align: right;
}

#greenh2{
	color: gray;
	font-style: italic;
}
h1{
	font-family: 'Pacifico', cursive;
}
a:link{
	text-decoration: none;
	color: #AA7700;
}
a:visitesd, a:active{
	text-decoration: none;
	color: 	#66FFFF;

}
a:hover{
	text-decoration: none;
	font-size: x-large;
}